/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #5F9EA0;
}

body {
	font-family: 'Marcellus', "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 70%;
	color: #444;
	margin: 0 auto;
	background-color: #fafafa;
	padding: 20px 40px;
	border: 1px solid #444;
}

header {
	background-color: #5F9EA0;
	color: #fff;
	padding: 20px;
	border-bottom: 3px solid #777;
	background-image: url(AUcampus.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}

header h1 {
	font-size: 36px;
}
nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}

nav li {
	display:inline;
}

header a:link {color:#fff;}
header a:visited {color:#fff;}
header a:hover {color:#fff;}
header a:focus {color:#fff;}
header a:active {color:#fff;}

h1 {
	font-size: 25px;
}

table {
	width: 100%;
}

thead th {
	border-bottom: 2px solid #ccc;
	text-align:left;
}
th,
td {
		padding: 5px 0;
}

tbody tr {
	background-color: #eee;
}

tbody tr:nth-child(even) {
	background-color: #aaa;
}

